<footer class="custom-footer">
    <div class="container">
        <div class="footer-content">
            <div class="logo logo-unb">
                <img src="/A3M/images/logo-unb.jpg" alt="Logo da UnB">
            </div>
            <div class="footer-text">
                Programa Aprendizagem para o 3º Milênio
            </div>
            <div class="logo logo-a3m">
                <img src="/A3M/images/logo-a3m.png" alt="Logo do A3M">
            </div>
        </div>
    </div>
</footer>